---
import { Image } from 'astro:assets';
import { Separator } from '@/components/ui/separator';
import Layout from '../layouts/Layout.astro';
import img_hello from '../assets/img/hello.webp';

const projects = await fetch(Astro.url.origin + '/api/projects/get');
const projectsData = await projects.json();

const biography = await fetch(Astro.url.origin + '/api/biography/get');
const biographyData = await biography.json();
---

<Layout title="João Ferreira | Computer Engineer Student">
	<div id="container" class="flex flex-col justify-center items-center h-full md:h-screen">
		<div class="flex flex-col p-8 md:p-4 gap-8">
			<div class="flex flex-col md:flex-row gap-8 justify-center items-center">
				<div id="hello" class="flex flex-col gap-2 h-full justify-center md:justify-start bg-zinc-900/60 border border-zinc-800 shadow-lg p-8 rounded-lg hover:scale-[1.01] transition-all duration-1000 animate-fade-right animate-once animate-ease-in-out">
					<Image src={img_hello} loading="eager" alt="Hello" class="w-52 mb-2" />
					<h1 class="text-4xl font-bold">Hello there, I'm <span class="text-ipvc animate-pulse">João</span>.</h1>
					<p class="text-zinc-400">Nice to meet you!</p>
		
					<Separator className="mt-4 bg-zinc-800" />
		
					<p class="text-zinc-400 mt-4 text-wrap max-w-96">
						I'm a third year Computer Engineering student at <a class="text-ipvc transition-all duration-300" href="https://www.estg.ipvc.pt/" target="_blank" rel="nofollow noreferrer noopener">Polytechnic Institute of Viana do Castelo</a>, Portugal. 
						I'm passionate about technology and software development, and I'm always looking for new 
						challenges and opportunities to learn and grow. Portuguese native speaker, fluent in English.
					</p>
				</div>
				<div class="h-8 hidden md:block animate-duration-1000 animate-delay-500 animate-ease-in-out">
					<Separator className="w-1 bg-zinc-800 h-full rounded-full" />
				</div>
				<div class="flex flex-col gap-8 md:gap-2">
					<div class="flex flex-col gap-2 justify-center md:justify-start bg-zinc-900/60 border border-zinc-800 shadow-lg p-8 rounded-lg hover:scale-[1.01] transition-all duration-1000 delay-500 animate-fade-left animate-once animate-ease-in-out">
						<h2 class="text-lg font-bold">About me</h2>
						<p class="text-zinc-400 text-wrap max-w-[34rem]">
							{biographyData.about}
						</p>
						<div class="flex flex-col md:flex-row justify-between mt-4 md:mt-6 text-zinc-400 italic text-xs">
							<p>Contact me on <span class="text-ipvc">{biographyData.email}</span></p>
							<p>Last update on <span class="underline">{biographyData.updated_at}</span></p>
						</div>
					</div>
					<div class="flex flex-col gap-2 justify-center md:justify-start bg-zinc-900/60 border border-zinc-800 shadow-lg p-8 rounded-lg hover:scale-[1.01] transition-all duration-1000 delay-1000 animate-fade-left animate-once animate-ease-in-out">
						<h2 class="text-lg font-bold">Projects</h2>
						<p class="text-zinc-400 max-w-96 flex flex-col md:gap-3">
							{projectsData.map((item, index) => {
							  const delay = (index * 0.3);
							  return (
								<div
								  class={
									"flex flex-col md:flex-row md:gap-2 justify-start text-start md:text-start md:justify-start items-start md:items-center animate-fade-up animate-once animate-ease-in-out"
								  }
								  style={{ animationDelay: `${delay}s` }}
								>
								  <span class="text-zinc-600 hidden md:block">&#62;</span>
								  <a
									href={item.link}
									target="_blank"
									rel="noreferer noopener nofollow"
									class="text-zinc-300 hover:text-ipvc transition-all duration-500"
								  >
									{item.name}
								  </a>
								  <p class="hidden md:block">∙</p>
								  <p class="text-zinc-400 text-xs font-thin">{item.description}</p>
								</div>
							  );
							})}
						  </p>						  
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>